<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
    
<configuration>
    <!-- MyBatis의 전역 설정 -->
    <settings>
	    <setting name="cacheEnabled" value="true"/> <!-- SQL 쿼리 결과를 캐시하여 성능을 향상시킴 -->
	    <setting name="lazyLoadingEnabled" value="true"/> <!-- 연관 객체를 실제 사용될 때까지 로드하지 않음 (지연 로딩 활성화) -->
	    <setting name="aggressiveLazyLoading" value="false"/> <!-- 모든 지연 로딩 객체를 한 번에 로드하지 않음 (선택적 로딩) -->
	    <setting name="multipleResultSetsEnabled" value="true"/> <!-- 쿼리 실행 시 다중 결과 집합을 처리할 수 있도록 허용 -->
	    <setting name="useColumnLabel" value="true"/> <!-- 컬럼의 라벨명을 사용하여 결과 매핑 (별칭 사용 가능) -->
	    
	    <setting name="mapUnderscoreToCamelCase" value="true"/> <!-- DB의 언더스코어(_) 기반 컬럼명을 Java의 카멜 표기법으로 자동 변환 -->
	</settings>

    <!-- 매퍼 파일 등록 -->
    <!-- <mappers>
        <mapper resource="mapper/BookMapper.xml"/>
        <mapper resource="mapper/MemberMapper.xml"/>
        <mapper resource="mapper/ArticleMapper.xml"/>
    </mappers> -->
    
</configuration>
