@charset "UTF-8";

.header {
	height: 200px;
	
	margin: 0px auto;
	
    display: flex; /* item: h_1, h_2 */
	flex-direction: column;
}

.header ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.header a {
	text-decoration: none;
	color: inherit;
}

.h_1 { /* 다국어, 로고, 헤더간편메뉴/회원 마이페이지 */
	height: 140px;
	width: 1200px;
	margin: 0 auto;
	
	position: relative;
	
	display: flex; /* item: h1_1, h1_2, h1_3 */
	align-items: space-between;
}

.h_2 { /* 메뉴 */
	height: 60px;
	width: 1200px;
	margin: 0 auto;
	
	text-align: center;
	
	position: relative;
	z-index: 1000;
	
	display: flex; /* item: h2_1, h2_2 */
	flex-direction: column;
}

.h_2_bg {
	border: 1px solid var(--gray-color);
}


/* h_1(로고 등) 설정 */
.h1_1 {
	width: 30%;

	display: flex; /* item: select */
	align-items: center;
	justify-content: center;
}

.h1_2 {
	width: 40%;
	
	display: flex; /* item: logo */
	align-items: center;
	justify-content: center;
}

.h1_3 {
	width: 30%;
	
	display: flex; /* item: h_mini_menu, h_member_info */
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

/* h1_1 (다국어) 설정 */
.h1_1 table {
	border: 1px solid var(--main-color);
	border-radius: 20px;
	
	padding: 0px 5px;
}

.h1_1 td {
	border: 0;
	padding: 5px;
}

.h1_1 a:hover,
.current_lang a {
	background-color: var(--main-color);
	color: white;
	font-weight: bold;
	
	padding: 5px;
	border-radius: 10px;
}

.current_lang a {
	pointer-events: none; /* 클릭 이벤트 차단 */
}

/* h1_2 (로고) 설정 */
.logo img {
	width: 300px;
}

/* h1_3 (미니메뉴) 설정 */
.h_mini_menu td {
	border: 0;
	padding: 5px;
}

.h_mini_menu a:hover,
.h_member_info a:hover {
	color: inherit;
	text-decoration: underline;
}

.h_member_info {
	width: 200px;
	
	background-color: var(--sub-color);
	border-radius: 10px;
	text-align: center;
}

/* h_2 (메뉴) 설정 */
.h2_1 {
	height: 95%;

	font-size: 1.2em;
	font-weight: bold;
	
	display: flex; /* item: menu_each, menu_all */
}

.menu_each {
	height: 100%;
	
	background-color: white;
	
	display: flex; /* item: menu_e_toggle, menu_e_blank, ... */
}

.menu_all {
	width: 50px;
	height: 100%;
	
	background-color: white;
}

.hidden {
	display: none;
}

.h2_2 {
	height: 200px;
	
	position: absolute;
	top: 100%;
	
	font-size: 1.1em;
	border: 1px solid var(--gray-color);
	z-index: 999;
	
	display: flex; /* item: h_submenu, h_submenu_blank, ... */
}

.h_submenu {
	width: 200px;
	
	background-color: white;
}

.h_submenu ul {
	display: flex; /* item: h_submenu_item */
	flex-direction: column;
}

.h_submenu a {
	text-decoration: none;
	color: inherit;
}

.menu_e_toggle {
	all: unset;
	cursor: pointer;
	height: 100%;
	width: 200px;
}

.menu_a_toggle {
	all: unset;
	cursor: pointer;
	height: 100%;
	width: 50px;
}

.menu_e_toggle:hover, .menu_a_toggle:hover {
	background-color: var(--main-color);
	color: white;
}

.h_submenu_item {
	padding: 5px;
	height: 30px;
	cursor: pointer;
}

.h_submenu_item:hover {
	background-color: var(--sub-color);
	font-weight: bold;
}

.menu_e_blank {
	width: 5px;
	background-color: white;
	
	display: flex; /* item: | */
	justify-content: center;
	align-items: center;
}

.h_submenu_blank {
	width: 5px;
	background-color: white;
}

/* 메뉴 고정 */
#h_2_placeholder {
    height: 60px;
    width: inherit;
    
    border: 1px solid var(--gray-color);
    
    display: none;
}

.menu-fixed + #h_2_placeholder {
    display: block;
}

.menu-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    
    margin: 0 auto;
    
    background-color: white;
}

