@charset "UTF-8";

.header {
	height: 200px;
	margin: 0px auto;
	background-color: white;
	display: flex;
	flex-direction: column;
}

.header ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.header a {
	text-decoration: none;
	color: inherit;
}

.h_1 {
	height: 150px;
	width: var(--main-width);
	margin: 0 auto;
	position: relative;
	display: flex;
	align-items: space-between;
}

.h_2 {
	height: 50px;
	width: var(--main-width);
	margin: 0 auto;
	text-align: center;
	position: relative;
	z-index: 1000;
	display: flex;
	flex-direction: column;
}

.h_2_bg {
	border: 1px solid var(--gray-color);
}

.h1_1 {
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}

.h1_2 {
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.h1_3 {
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.h1_1 table {
	border: 1px solid var(--main-color);
	border-radius: 20px;
	padding: 0px 5px;
}

.h1_1 td {
	border: 0;
	padding: 5px;
}

.h1_1 a:hover,
.current_lang a {
	background-color: var(--main-color);
	color: white;
	font-weight: bold;
	padding: 5px;
	border-radius: 10px;
}

.current_lang a {
	pointer-events: none;
}

.logo img {
	width: 300px;
}

.h_mini_menu td {
	border: 0;
	padding: 5px;
}

.h_mini_menu a:hover,
.h_member_info a:hover {
	color: inherit;
	text-decoration: underline !important;
}

.h_member_info {
	width: auto;
	padding: 0px 10px;
	background-color: var(--sub-color);
	border-radius: 15px;
	text-align: center;
}

.h2_1 {
	height: 100%;
	font-size: 1.2em;
	font-weight: bold;
	display: flex;
}

.menu_each {
	height: 95%;
	background-color: white;
	display: flex;
}

.menu_all {
	width: 50px;
	height: 95%;
	background-color: white;
}

#h_submenu.hidden {
  display: none; /* hidden 클래스가 추가되면 숨김 */
}

.h2_2 {
	height: 200px;
	position: absolute;
	top: 100%;
	font-size: 1.1em;
	border: 1px solid var(--gray-color);
	z-index: 999;
	display: flex;
}


.h_submenu ul {
	display: flex;
	flex-direction: column;
}


.menu_e_toggle {
	all: unset;
	cursor: pointer;
	height: 100%;
	width: 230px;
}

.menu_a_toggle {
	all: unset;
	cursor: pointer;
	height: 100%;
	width: 30px;
	text-align: center;
}

.menu_e_toggle:hover, .menu_a_toggle:hover {
	background-color: var(--main-color);
	color: white;
}

.menu_e_blank {
	width: 5px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.h_submenu_blank {
	width: 5px;
	background-color: white;
}

.menu_fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    margin: 0 auto;
    background-color: white;
}

/* ✅ 부트스트랩 메뉴/서브메뉴 세련된 스타일 */
.navbar-main {
  background-color: var(--main-color);
  padding: 0 !important;
  margin: 0 !important;
}


.navbar-main .nav-link,
.navbar-main .menu_e_toggle,
.navbar-main .menu_a_toggle {
  color: white;
}



.navbar-main .nav-link:hover,
.navbar-main .nav-item:hover,
.navbar-main .menu_a_toggle:hover {
 	background-color: var(--sub-color);
	color: var(--main-color);
}



#h_submenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  color: var(--main-color);
  border-top: none;
  backdrop-filter: blur(4px);
  z-index: 999;
  display: flex;  
  border-top: 1px solid var(--gray-color);
}

#h_submenu a {
  color: var(--main-color);
  text-decoration: none;
  display: block;
  margin-bottom: 17px;
  margin-left: 5px;
  text-align: center;
 
}

.navbar-nav .nav-item {
	height: 50px;
	padding: 0 7px;
	flex: 1;
	text-align: center;
}

#h_submenu li:hover {
  background-color: var(--sub-color);
  border-radius: 5px;
  padding-left: 4px;
}

#h_submenu li {
  width: 240px;
}

#logoutBtn {
	all: unset;
}

#logoutBtn:hover {
    text-decoration: underline;
    cursor: pointer;
}
