@charset "UTF-8";

.home {
	display: flex; /* item: home_1, home_2, home_3, home_4, home_5 */
	flex-direction: column;
	align-items: stretch;
	/* border: 1px solid red; */
}

/* .home 아이템 */
.home_1, .home_2, .home_3, .home_4, .home_5 {
	border: 1px solid #c0c0c0;
}

.home_1 {
	height: 400px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 5px;
	/* background-color: rgba(255, 255, 255, 0.5); */
	background-image: url("../images/bg.jpg");
}

.home_2 {
	height: 500px;
	display: flex; /* item: home_2_1, ... */
	flex-direction: row;
	justify-content: center;
}

.home_3 {
	height: 200px;
	display: flex; /* item: home_3_1, ... */
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	padding: 20px;
	
}

.home_4 {
	height: 500px;
}

.home_5 {
	height: 150px;
	background-color: #e6e6e6;
}

/* 각 아이템 설정 */
.home1_item1 {
	height: 50px;
}

.home1_item2 {
	height: 50px;
	position: relative;
}

#searchType {
	width: 150px;
	height: 100%;
	font-weight: bold;
	font-size: 1.5em;
	text-align: right; display : flex;
	align-items: center;
	justify-content: center;
	display: flex;
}

#searchInput {
	width: 500px;
	height: 90%;
	font-size: 1.5em;
	border: 1px solid #0059b3;
	border-radius: 8px;
	text-indent: 10px;
	color: #0059b3; padding : 2px;
	padding-right: 40px;
	padding: 2px;
}

#searchBtn {
	all: unset;
	cursor: pointer;
	width: 100px;
	height: 90%;
	text-align: center;
	background-color: #004080;
	color: white;
	border: 1px solid #004080;
	border-radius: 8px;
	font-size: 1.5em;
	transition: background 0.2s ease-in-out;
	position: absolute;
	right: 2px;
	top: 2px;
}

#searchBtn:hover {
	background: linear-gradient(45deg, #0059b3, #0073e6);
}

#searchBtn:active {
	transform: scale(0.95);
	background-color: #ff5733;
}

.home_2_1 {
	width: 30%;
	border: 1px solid #004080;
}

.home_2_2 {
	width: 40%;
	border: 1px solid #004080;
}

.home_2_3 {
	width: 30%;
	border: 1px solid #004080;
}

.home_3_item {
	all: unset;
	width: 150px;
	height: 150px;
	background-color: #004080;
	color: white;
	padding: 20px;
	border: 1px solid #004080;
	border-radius: 8px;
	font-size: 1.5em;
	transition: background 0.2s ease-in-out;
	cursor: pointer;
	text-align: center;
	align-items: center;
}

.home_3_item:hover {
	background: linear-gradient(45deg, #0059b3, #0073e6);
}

.home_3_item:active {
	transform: scale(0.95);
	background-color: #ff5733;
}