<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.library.mapper.ArticleMapper">

	<!-- 게시글 목록 전체 조회 - 관리자 -->
	<select id="getAllArticles" resultType="com.library.model.Article">
		SELECT * FROM ARTICLES
	</select>
	
	<!-- 카테고리별 게시글 목록 전체 조회 -->
	<select id="getAllArticlesByCategory" resultType="com.library.model.Article" parameterType="String">
		SELECT * FROM ARTICLES WHERE CATEGORY = #{category}
	</select>
</mapper>