<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.library.mapper.ArticleMapper">
	<select id="findAllArticles" resultType="com.library.model.Article">
		SELECT * FROM articles
	</select>

	<!-- <select id="getArticleById" parameterType="int" resultType="com.library.model.Article">
		SELECT * FROM articles WHERE articles_id = #{articles_id}
	</select>

	<insert id="save" parameterType="com.library.model.Article">
		<choose>
			<when test="id != null">
				UPDATE articles SET title = #{title}, content = #{content} WHERE articles_id =
				#{articles_id}
			</when>
			<otherwise>
				INSERT INTO articles (title, content) VALUES (#{title}, #{content})
			</otherwise>
		</choose>
	</insert>


	<delete id="deleteArticle" parameterType="int">
		DELETE FROM articles WHERE id = #{id}
	</delete> -->
</mapper>
