<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.library.mapper.BookMapper">

	<!-- 목록 조회 -->
	<!-- 1) 전체 목록 조회 : status=1인 도서 포함 -->
	<select id="getBookList"
		resultType="com.library.model.book.Book"
		parameterType="com.library.model.book.BookListRequest">
		<![CDATA[
			SELECT b.BOOKS_ID, b.TITLE, b.AUTHOR, b.PUBLISHER, 
				   b.PUBLISH_DATE, b.ISBN, b.CATEGORY, b.IMAGE_LINK, b.DESCRIPTION, 
				   b.CREATE_DATE, b.VIEW_COUNT, b.REVIEW_COUNT, b.LOAN_COUNT, b.LIKE_COUNT, b.STATUS, 
			       b.rnum
			FROM (
				SELECT bk.BOOKS_ID, bk.TITLE, bk.AUTHOR, bk.PUBLISHER, 
					   bk.PUBLISH_DATE, bk.ISBN, bk.CATEGORY, bk.IMAGE_LINK, bk.DESCRIPTION, 
					   bk.CREATE_DATE, bk.VIEW_COUNT, bk.REVIEW_COUNT, bk.LOAN_COUNT, bk.LIKE_COUNT, bk.STATUS, 
					   ROWNUM AS rnum
				FROM BOOKS bk
			    ORDER BY bk.CREATE_DATE DESC
		    ) b
			WHERE b.rnum > #{startRow} AND b.rnum <= #{endRow}
		]]>
	</select>

	<!-- 2) 도서 목록 조회 (카테고리 기준) : status=1인 도서 제외 -->
	<select id="getBookListByCategory"
		resultType="com.library.model.book.Book"
		parameterType="com.library.model.book.BookListRequest">
		<![CDATA[
			SELECT b.BOOKS_ID, b.TITLE, b.AUTHOR, b.PUBLISHER, 
				   b.PUBLISH_DATE, b.ISBN, b.CATEGORY, b.IMAGE_LINK, b.DESCRIPTION, 
				   b.CREATE_DATE, b.VIEW_COUNT, b.REVIEW_COUNT, b.LOAN_COUNT, b.LIKE_COUNT, b.STATUS, 
			       b.rnum
			FROM (
				SELECT bk.BOOKS_ID, bk.TITLE, bk.AUTHOR, bk.PUBLISHER, 
					   bk.PUBLISH_DATE, bk.ISBN, bk.CATEGORY, bk.IMAGE_LINK, bk.DESCRIPTION, 
					   bk.CREATE_DATE, bk.VIEW_COUNT, bk.REVIEW_COUNT, bk.LOAN_COUNT, bk.LIKE_COUNT, bk.STATUS, 
					   ROWNUM AS rnum
				FROM BOOKS bk
			    WHERE bk.CATEGORY LIKE #{category} || '%'
			    	AND bk.STATUS <> 1
			    ORDER BY bk.CREATE_DATE DESC
		    ) b
			WHERE b.rnum > #{startRow} AND b.rnum <= #{endRow}
		]]>
	</select>
	
	<!-- 4) 인기도서 (likeCount DESC) -->
	<select id="getBookListByLikeCount" 
			resultType="com.library.model.book.Book" 
			parameterType="com.library.model.book.BookListRequest">
		<![CDATA[
			SELECT b.BOOKS_ID, b.TITLE, b.AUTHOR, b.PUBLISHER, 
				   b.PUBLISH_DATE, b.ISBN, b.CATEGORY, b.IMAGE_LINK, b.DESCRIPTION, 
				   b.CREATE_DATE, b.VIEW_COUNT, b.REVIEW_COUNT, b.LOAN_COUNT, b.LIKE_COUNT, b.STATUS, 
			       b.rnum
			FROM (
				SELECT bk.BOOKS_ID, bk.TITLE, bk.AUTHOR, bk.PUBLISHER, 
					   bk.PUBLISH_DATE, bk.ISBN, bk.CATEGORY, bk.IMAGE_LINK, bk.DESCRIPTION, 
					   bk.CREATE_DATE, bk.VIEW_COUNT, bk.REVIEW_COUNT, bk.LOAN_COUNT, bk.LIKE_COUNT, bk.STATUS, 
					   ROWNUM AS rnum
				FROM BOOKS bk
			    WHERE bk.STATUS <> 1
			    ORDER BY bk.LOAN_COUNT DESC
		    ) b
			WHERE b.rnum > #{startRow} AND b.rnum <= #{endRow}
		]]>
	</select>
	
	<!-- 3) 대출 베스트 (loanCount DESC) -->
	<select id="getBookListByLoanCount" 
			resultType="com.library.model.book.Book" 
			parameterType="com.library.model.book.BookListRequest">
		<![CDATA[
			SELECT b.BOOKS_ID, b.TITLE, b.AUTHOR, b.PUBLISHER, 
				   b.PUBLISH_DATE, b.ISBN, b.CATEGORY, b.IMAGE_LINK, b.DESCRIPTION, 
				   b.CREATE_DATE, b.VIEW_COUNT, b.REVIEW_COUNT, b.LOAN_COUNT, b.LIKE_COUNT, b.STATUS, 
			       b.rnum
			FROM (
				SELECT bk.BOOKS_ID, bk.TITLE, bk.AUTHOR, bk.PUBLISHER, 
					   bk.PUBLISH_DATE, bk.ISBN, bk.CATEGORY, bk.IMAGE_LINK, bk.DESCRIPTION, 
					   bk.CREATE_DATE, bk.VIEW_COUNT, bk.REVIEW_COUNT, bk.LOAN_COUNT, bk.LIKE_COUNT, bk.STATUS, 
					   ROWNUM AS rnum
				FROM BOOKS bk
			    WHERE bk.STATUS <> 1
			    ORDER BY bk.LOAN_COUNT DESC
		    ) b
			WHERE b.rnum > #{startRow} AND b.rnum <= #{endRow}
		]]>
	</select>
	
	<!-- 추천 도서 3건 (view_count desc) -->
	<select id="getRecBookListForHome" 
			resultType="com.library.model.book.Book">
		<![CDATA[
			SELECT * FROM (
				SELECT * FROM BOOKS ORDER BY VIEW_COUNT DESC
			) WHERE ROWNUM <= 3
		]]>
	</select>
	
	<!-- 인기 도서 3건 (like_count desc) -->
	<select id="getPopBookListForHome" 
			resultType="com.library.model.book.Book">
		<![CDATA[
			SELECT * FROM (
				SELECT * FROM BOOKS ORDER BY LIKE_COUNT DESC
			) WHERE ROWNUM <= 3
		]]>
	</select>
	
	<!-- 신착 도서 3건 (create_date desc) -->
	<select id="getNewBookListForHome" 
			resultType="com.library.model.book.Book">
		<![CDATA[
			SELECT * FROM (
				SELECT * FROM BOOKS ORDER BY CREATE_DATE DESC
			) WHERE ROWNUM <= 3
		]]>
	</select>
	
	<!-- 5) 통합검색 - 키워드 검색 - 책제목 -->
<select id="getBookListByKeywordByTitle"
        resultType="com.library.model.book.Book"
        parameterType="com.library.model.book.BookListRequest">
<![CDATA[
    SELECT * FROM (
        SELECT b.*, ROWNUM AS rnum FROM (
            SELECT bk.*
            FROM BOOKS bk
            WHERE bk.STATUS <> 1
              AND LOWER(bk.TITLE) LIKE '%' || LOWER(#{keyword}) || '%'
            ORDER BY bk.CREATE_DATE DESC
        ) b
        WHERE ROWNUM <= #{endRow}
    )
    WHERE rnum > #{startRow}
]]>
</select>



	<!-- 목록 개수 -->
	<!-- 1) 전체 게시글 수 -->
	<select id="getBookListCount" resultType="int">
		SELECT COUNT(*) FROM BOOKS
	</select>

	<!-- 2) 게시글 수 (카테고리 기준) -->
	<select id="getBookListCountByCategory" resultType="int"
		parameterType="String">
		<![CDATA[
			SELECT COUNT(*) FROM BOOKS 
			WHERE CATEGORY LIKE #{category} || '%'
			    	AND STATUS <> 1
		]]>
	</select>


	<!-- 3) 검색에 따른 목록 개수 -->
	<select id="getBookListCountByKeyword" resultType="int"
		parameterType="com.library.model.SearchRequest">
		SELECT COUNT(*) FROM BOOKS
		WHERE 1 = 1
		<bind name="kw" value="keyword.toLowerCase()" />
		<choose>
			<when test="type == 'all'">
				AND (
					LOWER(TITLE) LIKE '%' || '${kw}' || '%' 
					OR LOWER(AUTHOR) LIKE '%' || '${kw}' || '%' 
					OR LOWER(PUBLISHER) LIKE '%' || '${kw}' || '%' 
					OR LOWER(ISBN) LIKE '%' || '${kw}' || '%' 
				)
			</when>
			<when test="type == 'title'">
				AND LOWER(TITLE) LIKE '%' || '${kw}' || '%' 
			</when>
			<when test="type == 'author'">
				AND LOWER(AUTHOR) LIKE '%' || '${kw}' || '%' 
			</when>
			<when test="type == 'publisher'">
				AND LOWER(PUBLISHER) LIKE '%' || '${kw}' || '%' 
			</when>
			<when test="type == 'isbn'">
				AND LOWER(ISBN) LIKE '%' || '${kw}' || '%' 
			</when>
			<otherwise>
				AND 1 = 0
			</otherwise>
		</choose>
	</select>

	<!-- 상세 조회 -->
	<!-- 1) 도서 상세 조회 -->
	<select id="getBookById"
		resultType="com.library.model.book.Book"
		parameterType="int">
		SELECT * FROM BOOKS 
		WHERE BOOKS_ID = #{value}
	</select>


	<!-- 도서 정보 수정 -->
	<!-- 1) 정보 수정 : title, content -->
	<update id="updateBookInfo"
		parameterType="com.library.model.book.Book">
		UPDATE BOOKS
		SET TITLE = #{title},
			AUTHOR = #{author},
			PUBLISHER = #{publisher},
			PUBLISH_DATE = #{publishDate},
			ISBN = #{isbn},
			CATEGORY = #{category},
			IMAGE_LINK = #{imageLink},
			DESCRIPTION = #{description}
		WHERE BOOKS_ID = #{booksId}
	</update>

	<!-- 2) 비공개글 전환 : status -->
	<update id="updateBookDisable" parameterType="int">
		UPDATE BOOKS
		SET STATUS = 1
		WHERE BOOKS_ID = #{value}
	</update>

	<!-- 3) 대출 중 전환 : status -->
	<update id="updateBookLoaned" parameterType="int">
		UPDATE BOOKS
		SET STATUS = 2
		WHERE BOOKS_ID = #{value}
	</update>
	
	<!-- 4) 공개글, 대출 가능 전환 : status -->
	<update id="updateBookLoanable" parameterType="int">
		UPDATE BOOKS
		SET STATUS = 0
		WHERE BOOKS_ID = #{value}
	</update>
	
	<!-- 5) 대출 예약 중 전환 : status -->
	<update id="updateBookLoanReserved" parameterType="int">
		UPDATE BOOKS
		SET STATUS = 3
		WHERE BOOKS_ID = #{value}
	</update>
	

	<!-- 6) view count 증가 -->
	<update id="updateBookViewCountUp" parameterType="int">
		UPDATE BOOKS
		SET VIEW_COUNT = VIEW_COUNT + 1
		WHERE BOOKS_ID = #{value}
	</update>
	
	<!-- 8) loan count 증가 -->
	<update id="updateBookLoanCountUp" parameterType="int">
		UPDATE BOOKS
		SET LOAN_COUNT = LOAN_COUNT + 1
		WHERE BOOKS_ID = #{value}
	</update>
	
	<!-- 8) like count 증가 -->
	<update id="updateBookLikeCountUp" parameterType="int">
		UPDATE BOOKS
		SET LIKE_COUNT = LIKE_COUNT + 1
		WHERE BOOKS_ID = #{value}
	</update>


	<!-- 도서 등록 -->
	<insert id="insertBook"
		parameterType="com.library.model.book.Book">
		<selectKey keyProperty="booksId"
			resultType="java.lang.Integer" order="BEFORE">
			SELECT SQ_BOOKS.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO BOOKS (
			BOOKS_ID, TITLE, AUTHOR, PUBLISHER, 
			PUBLISH_DATE, ISBN, CATEGORY, IMAGE_LINK, DESCRIPTION,
			CREATE_DATE, VIEW_COUNT, REVIEW_COUNT, LOAN_COUNT, LIKE_COUNT, STATUS
		) VALUES (
			#{booksId}, #{title}, #{author}, #{publisher},
			#{publishDate}, #{isbn}, #{category}, #{imageLink}, #{description},
			#{createDate}, #{viewCount}, #{reviewCount}, #{loanCount}, #{likeCount}, #{status}
		)
	</insert>

	<!-- 도서 삭제 -->
	<delete id="deleteBook" parameterType="int">
		DELETE FROM BOOKS
		WHERE BOOKS_ID = #{value}
	</delete>

</mapper>