<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.library.mapper.MemberMapper">
    <!-- 회원 목록 조회 -->
    <select id="getAllMembers" resultType="com.library.model.Member">
        SELECT * FROM MEMBERS
    </select>

    <!-- 회원 상세 조회 (membersId 기반) -->
    <select id="getMemberById" resultType="com.library.model.Member" parameterType="int">
        SELECT * FROM MEMBERS WHERE MEMBERS_ID = #{membersId}
    </select>
    
    <!-- 회원 상세 조회 (username 기반) -->
    <select id="getMemberByUsername" resultType="com.library.model.Member" parameterType="String">
        SELECT * FROM MEMBERS WHERE USERNAME = #{username}
    </select>
    
    <!-- 회원 상세 조회 (email 기반) -->
    <select id="getMemberByEmail" resultType="com.library.model.Member" parameterType="String">
        SELECT * FROM MEMBERS WHERE EMAIL = #{email}
    </select>
    
    <!-- 회원 정보 수정 : 유저 / 내 정보 / 정보 수정(비밀번호, 모바일, 우편번호, 주소, 상세주소) -->
    <update id="updateMemberInfo" parameterType="com.library.model.Member">
        UPDATE MEMBERS 
        SET PASSWORD = #{password}, MOBILE = #{mobile}, ZIPCODE = #{zipcode}, ADDRESS = #{address}, ADDRESS_DETAIL = #{addressDetail} 
        WHERE MEMBERS_ID = #{membersId}
    </update>
    
    <!-- 회원 정보 수정 : 유저 / 내 정보 / 탈퇴 처리(상태, 탈퇴날짜) -->
    <update id="updateMemberLeave" parameterType="com.library.model.Member">
        UPDATE MEMBERS 
        SET STATUS = #{status}, LEAVE_DATE = #{leaveDate}
        WHERE MEMBERS_ID = #{membersId}
    </update>
    
    <!-- 회원 정보 수정 : 관리자 / 회원 목록 조회 / 회원 카드 등록(상태, 카드번호) -->
    <update id="updateMemberGrade" parameterType="com.library.model.Member">
        UPDATE MEMBERS 
        SET STATUS = #{status}, CARD_NUM = #{cardNum}
        WHERE MEMBERS_ID = #{membersId}
    </update>
    
    
    <!-- 회원 등록 -->
    <insert id="insertMember" parameterType="com.library.model.Member">
	    <selectKey keyProperty="membersId" resultType="java.lang.Integer" order="BEFORE">
	        SELECT SQ_MEMBERS.NEXTVAL FROM DUAL
	    </selectKey>
        INSERT INTO MEMBERS (MEMBERS_ID, STATUS, CARD_NUM, OVERDUE, AUTO_LOGIN, 
        	USERNAME, PASSWORD, NAME, EMAIL, MOBILE, ZIPCODE, ADDRESS, ADDRESS_DETAIL, JOIN_DATE, LEAVE_DATE) 
        VALUES (#{membersId}, #{status}, #{cardNum}, #{overdue}, #{autoLogin},
        	#{username}, #{password}, #{name}, #{email}, #{mobile}, #{zipcode}, #{address}, #{addressDetail}, #{joinDate}, #{leaveDate})
    </insert>


    <!-- 회원 삭제 -->
    <delete id="deleteMember" parameterType="int">
        DELETE FROM MEMBERS WHERE MEMBERS_ID = #{membersId}
    </delete>
</mapper>
